$content-background: #f8f8f8;
$main-color: #2d6a4f;
$secondary-color: #888;
$tag-background: #fff2b2;
$tag-color: #db7c26;

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 155px 0;
  justify-content: center;
  text-align: center;
  gap: 18px;
  background-color: #fff;
  opacity: 0.8;
  background-image: radial-gradient(#2d6a4f 0.75px, transparent 0.75px),
    radial-gradient(#3d6a4f 0.75px, #ffffff 0.75px);
  background-size: 30px 30px;
  background-position: 0 0.15px 15px;

  // Info section styling
  .info {
    h1 {
      font-weight: 900;
      background: #fff;
    }

    p {
      color: #666;
      font-size: 18px;
      margin-top: 16px;
      font-weight: bold;
      background: #fff;
    }
  }

  // Buttons section styling
  .buttons {
    display: flex;
    gap: 14px;
    margin-top: 10px;

    button {
      border: none;
      padding: 8px;
      width: 140px;
      border-radius: 10px;
      background-color: #777;
      color: #fff;
      cursor: pointer;

      &.see-all {
        background-color: #2d6a4f;
      }
    }
  }

  // Search section styling
  .search {
    position: relative;
    width: 30%;
    margin-top: 15px;

    input {
      width: 100%;
      padding: 18px 20px;
      border: none;
      border-radius: 18px;
      box-shadow: 0px 4px 70px -10px rgba(0, 0, 0, 0.3);
      outline: none;
    }

    button {
      position: absolute;
      right: 0;
      padding: 12px;
      font-size: 24px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

// Courses section styling
.overflow-hidden {
  display: grid;
  justify-content: space-evenly;
  .courses-container {
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s ease;
    gap: 4;
  }
}

.course-item {
  // flex: none;
  width: 350px;
  display: flex;
  justify-content: center;

  .item {
    width: 380px;
    margin-bottom: 15px;
    .top {
      display: grid;
      justify-content: left;

      img {
        filter: saturate(200%);
      }
      .info {
        text-align: left;

        p {
          font-size: 13px;
        }
      }
    }
    .top,
    .bottom {
      gap: 10px;
      background-color: #fff;
      padding: 14px;
      box-shadow: 0 10px 20px rgba(126, 157, 127, 0.5);
      border-radius: 18px;
      border-bottom: 1px dashed $secondary-color;
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
    }

    .top img {
      width: 120px;
      min-height: 120px;
      object-fit: cover;
      border-radius: 8px;
    }

    .bottom .price p {
      color: $secondary-color;
      font-size: 13px;
      text-decoration: line-through;
    }

    .bottom h5.tag {
      background-color: $tag-background;
      color: $tag-color;
      padding: 10px;
      border-radius: 12px;
      font-size: 13px;
    }
  }
}

// Search results section styling
.search-results {
  .search-result-item {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
  }
}
